<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../components/head.ejs'); %>
</head>

<body>
    <div class="container">
        <div class="row">

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="btn btn-outline-primary" href="/todo/create">Add new task</a>
                        </li>
                    </ul>

                </div>
            </nav>


            <table class="table table-striped table-bordered">
                <thead class="table-light">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Title</th>
                        <th scope="col">Description</th>
                        <th scope="col">Status</th>
                        <th scope="col" colspan="2" class="text-center">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <% for( let index=0; index < data.length; index++ ) { %>
                        <tr>
                            <th scope="row">
                                <%= data[index].id %>
                            </th>
                            <td>
                                <%= data[index].title %>
                            </td>
                            <td>
                                <%= data[index].desc %>
                            </td>
                            <td>
                                <%= data[index].status %>
                            </td>
                            <td class="text-center">
                                <a href="/todo/edit/<%= data[index].id %>" class="btn btn-primary">
                                    Edit
                                </a>
                            </td>
                            <td class="text-center">
                                <a href="/todo/delete/<%= data[index].id %>" class="btn btn-danger">
                                    Delete
                                </a>
                            </td>
                        </tr>
                        <% } %>
                </tbody>
            </table>

        </div>
    </div>
</body>

</html>